<h1>Posts By Me, <%= current_user.username %></h1>
<p>
  <%= render @posts %>
</p>
<p>
  Why don't you <%= link_to "create a new post!?!?!", new_post_url %>
</p>
<p>
  <%= button_to "Sign Out", session_url, method: :delete %>
  <%= button_to "Sign In", new_session_url, method: :get %>
  <%= button_to "Sign Up", new_user_url, method: :get %>
</p>
